.progressBarContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progressBar {
  height: 20px;
  background-color: #ec1616;
  text-align: center;
  color: white;
  line-height: 20px;
  transition: width 0.5s;
}
